.App {
  text-align: center;
}

.galleryImg {
  width: 300px;
  height: 300px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.galleryDescription {
  max-width: 300px;
  max-height: 300px;
  width: 300px;
  height: 300px;
  position: relative;
  bottom: 10px;
  display: inline-block;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
